@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Poppins:wght@300;400;500;600&display=swap');
body {
  font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}

#header {
  margin: 5%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: 600;
}

#content {
  margin: 15% 10%;
  text-align: center;
}

.btn {
  border: solid black;
  cursor: pointer;
  font-size: larger;
  margin: 0 5%;
  padding: 3% 8%;
  text-decoration: none;
}
.btn:hover {
  background: lightgray;
  color: white;
}
.sm-btn {
  border: solid 1px black;
  cursor: pointer;
  margin-top:20px;
  padding: 5px;
  font-size: small;
  color: black;
  margin: 1%;
  cursor: pointer;
}
.sm-btn:hover {
  background: lightgray;
  color: white;
}
input {
  margin-left: 5px;
  margin-right: 10px;
}

/**** receipt *****/
#receipt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content{
  transform: scale(0.5);
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  right:auto;
  bottom: auto;
  width:80%;
  padding:1%;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
  z-index: 9000;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9000;
}
.close{
  color:rgb(161, 158, 158);
  transform: scale(2);
  float:right;
}
.close:hover{
  color: rgb(38, 168, 67);
  cursor:pointer;
}